{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:lodash-fp/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "object-curly-spacing": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 1
  },
  "plugins": [
    "import",
    "promise",
    "lodash-fp"
  ]
}
