{
  "hooks": {
    "commit-msg": "! git rev-parse --abbrev-ref HEAD | grep -q master || commitlint -E HUSKY_GIT_PARAMS",
    "pre-commit": "! git rev-parse --abbrev-ref HEAD | grep -q master || (lint-staged && yarn build)"
  }
}
